---
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Sobre mí";
const identity = "Javier";
const country = "España";
const occupation = "desarrollador";
---


	<BaseLayout pageTitle = {pageTitle}>
        <h2>Este será mi nuevo sitio web con Astro!!!!</h2>
        <p>Estoy trabajando en un tutorial y esto son pruebas</p>
        <p>Este sitio se irá actualizando a medida que vaya completando más partes</p>
		<p>Algunos datos sobre mí:</p>
		<ul>
			<li>Me llamo {identity}.</li>
			<li>Soy de {country}.</li>
			<li>Trabajo como {occupation}</li>
		</ul>
	</BaseLayout>
		
	